/*!
 * Copyright 2021 – 2021 PeopleWare
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an “AS IS” BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

mat-card {
    cursor: pointer;
    background: linear-gradient(135deg, rgba(119, 178, 41, 0.4) 0%, transparent 100%);

    &:hover {
        background: linear-gradient(135deg, rgba(119, 178, 41, 0.4) 0%, rgba(18, 80, 150, 0.4) 100%);
    }
}
