<ng-container *ngIf="selectedStock$ | async as selectedStock">
    <mat-card>
        <mat-card-title>
            <div class="flex flex-row justify-between align-center">
                <span>{{ selectedStock.symbol }}</span>
                <ng-container *ngIf="isLatestVersion$ | async">
                    <button mat-icon-button routerLink="../update"><mat-icon>edit</mat-icon></button>
                </ng-container>
            </div>
        </mat-card-title>
        <mat-card-content class="flex flex-col">
            <ppwcode-cru-spinner *ngIf="isBusy$ | async"></ppwcode-cru-spinner>
            <ppwcode-cru-dynamic-form
                [controlGroups]="controlGroups"
                [initialValue]="selectedStock"
                [disabled]="true"
            ></ppwcode-cru-dynamic-form>
        </mat-card-content>
    </mat-card>
    <div *ngIf="selectedStockHistory$ | async as history" class="resource-history">
        <ppwcode-cru-resource-history
            [history]="history"
            [currentResourceTimestamp]="selectedStock.createdAt"
            [disabledVersions]="[selectedStock.createdAt]"
            (versionSelected)="onVersionSelected($event)"
        ></ppwcode-cru-resource-history>
    </div>
</ng-container>
