<mat-card>
    <mat-card-title>
        <div class="flex flex-row justify-between align-center">
            <span>New stock</span>
            <div class="flex flex-row gap-medium">
                <button
                    mat-icon-button
                    (click)="saveForm()"
                    [disabled]="!dynamicFormComponent?.formGroup?.valid || !dynamicFormComponent?.formGroup?.touched"
                >
                    <mat-icon>save</mat-icon>
                </button>
                <button mat-icon-button routerLink="/"><mat-icon>close</mat-icon></button>
            </div>
        </div>
    </mat-card-title>
    <mat-card-content class="flex flex-col">
        <ppwcode-cru-spinner *ngIf="isBusy$ | async"></ppwcode-cru-spinner>
        <ppwcode-cru-dynamic-form
            #dynamicFormComponent
            [controlGroups]="controlGroups"
            [validators]="validators"
        ></ppwcode-cru-dynamic-form>
    </mat-card-content>
</mat-card>
