/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.flex-row.gap-small > *:not(:first-child) {
    margin-left: 4px;
}

.flex-row.gap-medium > *:not(:first-child) {
    margin-left: 8px;
}

.flex-row.gap-large > *:not(:first-child) {
    margin-left: 16px;
}

.flex-col.gap-small > *:not(:first-child) {
    margin-top: 4px;
}

.flex-col.gap-medium > *:not(:first-child) {
    margin-top: 8px;
}

.flex-col.gap-large > *:not(:first-child) {
    margin-top: 16px;
}

.fill {
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

/** Angular Material overrides */
.mat-card-content {
    &.flex {
        display: flex;
    }
}
